.content {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

#video {
    width: 100%;
}

.loading {
    width: 100%;
    height: 5px;
}
.loading .bar {
    color: blue;
    height: 100%;
}

.mark.selected {
    border: 1px solid red;
}